<header class="row mb-5">
  <div class="col-md-9">
    <h4><a class="dark" href="{{ site.baseurl }}/">{{ site.title }}</a></h4>
  </div>
    <nav class="nav col-md-3">
          <a class="nav-link dark" href="{{ site.baseurl }}/">Blog</a>
        {% for page in site.pages %}
          {% if page.title %}
          <a class="nav-link dark" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <a class="nav-link dark" href="feed.xml">RSS</a>
    </nav>

</header>
